<%include ./includes/header.ejs %>
<div class="post-write-wrap">
    <form action="/notes" method="POST">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" class="form-control" id="post-title" name="title" placeholder="글 제목을 작성해주세요.">
            <small id="title-help" class="form-text text-muted">00자 이내로 제한됩니다.</small>
        </div>
        <div class="form-group">
            <label for="post-content">Content</label>
            <textarea style="resize:none;" class="form-control" id="post-content" name="content" rows="10"></textarea>
            <small id="title-help" class="form-text text-muted">00자 이내로 제한됩니다.</small>
        </div>
        <div style="text-align:center;">
            <button type="submit" class="btn btn-primary">작성하기</button>
        </div>
    </form>
</div>
<%include ./includes/footer.ejs %>